{% extends "base.html" %}

{% block title %}Add Student{% endblock %}

{% block content %}
<h1>Add Student</h1>
<form method="POST" action="{{ url_for('add_student') }}">
	{{ form.hidden_tag() }}
	<div class="form-group">
		{{ form.first_name.label }} {{ form.first_name(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.last_name.label }} {{ form.last_name(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.email.label }} {{ form.email(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.password.label }} {{ form.password(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.role_id.label }} {{ form.role_id(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.grade.label }} {{ form.grade(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.address1.label }} {{ form.address1(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.address2.label }} {{ form.address2(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.city.label }} {{ form.city(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.state_id.label }} {{ form.state_id(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.zip_code.label }} {{ form.zip_code(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.birth_date.label }} {{ form.birth_date(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.submit(class="btn btn-primary") }}
	</div>
</form>
{% endblock %}